<component name="ArtifactManager">
  <artifact type="exploded-ear" name="spring:ear exploded">
    <output-path>$PROJECT_DIR$/itheima_spring_aop/artifacts/spring_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring/javaeeApplication/javaEEApplication" />
      <element id="directory" name="web.war">
        <element id="artifact" artifact-name="spring:war exploded" />
      </element>
      <element id="directory" name="ejb.jar">
        <element id="artifact" artifact-name="spring:ejb exploded" />
      </element>
    </root>
  </artifact>
</component>